doctype html
html(lang="es")
  head
    meta(charset="utf-8")
    title Los machirulos - juego de cartas para toda la familia
    meta(name="viewport",content="width=device-width")
    meta(name="keywords", content="el angurriento, juego del uno, cartas francesas, napies españoles, juegos casuales con cartas, juegos para toda la familia, juegos con pocas reglas, juegos fáciles de aprender, esto es cualquiera, sororas, sororidad")
    style.
      .q {font-style:italic; text-indent: 0px; margin-block-start: 1.3em; display: list-item;}
      .m {font-weight:bold; font-style:italic}
      .l {font-weight:bold; font-style:italic; font-family: Confiteria, Bookman Old Style, Times New Roman, serif}
      body {max-width: 740px; margin-left:auto; margin-right:auto; padding:2em; font-family: Montserrat, Roboto, Universal, Arial, sans-serif; border-left:0.5px solid #CCC}
      p {text-align: justify; text-indent:2em; font-size:120%; line-height:1.4em}
      .bajada {font-size:60%; font-weight:normal; font-family: Electric Cable, Roboto, Universal, Arial, sans-serif;}
      h1 {text-align: center}
      h2 {margin-block-start: 1.7em}
  body
    h1#reglamento.
      Los machirulos.
      #[.bajada Juego de cartas para todas las familias.]

    h2#objetivo Objetivo

    p.
      Juntar puntos evitando #[span.m que te salga un machirulo].

    p.
      Gana la persona que más puntos juntó.

    h2#preparacion Preparación

    p.
      Se utiliza un mazo de cartas francesas. 
      No se necesita papel ni lápiz para anotar los puntos 
      (si algún machirulo decide hacer la cuenta mental se lo hace callar).

    p.
      Se elije si se va a jugar hacia la izquierda o hacia la derecha 
      (también se puede elegir jugar en sentido horario o antihorario que es menos ideológico).
      Y se sortea quién va a jugar primero. 

    h2#las-cartas Las cartas

    p.
      Las cartas valen lo que su número indica. El #[span.l As] vale 1.

    p.
      Las #[span.l J] y las #[span.l K] son los machirulos de ambos lados de la grieta 
      y no valen nada.
      Los #[span.l Joker] (comodines) también son machirulos.

    p.
      Las #[span.l Q] son #[span.l Qualquiera], 
      representan la carta cuyo valor es el poder de ayudar a otras
      (esta regla es #[span.l(style="font-weight:normal") Qualquiera]).
    
    h2#mecanica Mecánica del juego

    p.
      Se mezcla el mazo y se lo pone en el medio de la mesa.

    p.
      La persona que va a jugar primero saca una carta, si no es un machirulo puede elegir o no sacar otra; 
      continúa decidiendo hasta elegir detenerse o hasta #[span.m que le salga un machirulo].

    p.
      Si eligió detenerse antes de #[span.m que le salga un machirulo]
      se queda con las cartas que salieron.

    p.
      Si no se detuvo antes de #[span.m que le salga un machirulo]
      las cartas que salieron quedan fuera del juego, se separan y no son de nadie.
      Las cartas que había obtenido en rondas anteriores las conserva.
    
    p.
      Si le sale una #[span.l Q] canta #[span.l ¡Qualquiera!]
      y reparte las cartas con otras; puede repartir las que quiera con quien quiera,
      pero no puede quedarse con más puntos que ninguna de las otras a las que les reparte.
      Su turno no terminó, vuelve empezar sacando una nueva carta del mazo.

    p.
      Luego de elegir detenerse o de #[span.m que le salga un machirulo] 
      (lo que ocurra antes), el turno pasa a la persona que está a su izquierda 
      (o derecha si todas prefirieron eso).

    h2#fin Fin del juego

    p.
      El juego termina cuando no quedan más cartas en el mazo.
      Se suman los valores de las cartas que tiene cada una
      y gana la persona que tiene más puntos.

    hr

    h2#faq Preguntas frecuentes

    p.q#q-espa ¿Se puede jugar con cartas españolas?

    p.a.
      Sí, se puede jugar con un mazo de 40 o 50 cartas españolas,
      con los números del #[span.l 1] al #[span.l 7] (o al #[span.l 9]) así: 
      los #[span.l comodines] (si los hay), los #[span.l reyes] y #[span.l caballos] son los machirulos,
      las #[span.l sotas] son #[span.l Qualquiera]
      (pero eso lo supimos siempre).

    p.q#q-mazos ¿Se puede jugar con un mazo al que le faltan algunas cartas?

    p.a.
      Sí, si están todas informadas de cuál es la situación. Se supone que si el mazo
      está equilibrado mejor; pero ponerse a comprobarlo es cosa de machirulo. 

    p.q#q-mazos ¿Se usa un solo mazo?

    p.a.
      Sí, uno solo. Si no el juego se hace más largo de lo necesario. Si quieren jugar
      mucho, jueguen varios partidos.

    p.
      Pero si la pregunta la hiciste porque encontraste en un cajón viejo un
      santuario de cartas mezcladas de distintas épocas y con distintos lomos
      que tus hijos usaron para hacer castillitos, no necesitás ponerte a separar
      los mazos; agarrá un montoncito, más o menos de la altura de un dedo,
      y se puede jugar con eso.

    p.q#q-impar Si la #[span.l Q] sale como segunda carta ¿cómo se hace el reparto?

    p.a.
      Al salir como segunda hay una sola carta para repartir; se la tiene que dar a otra.
      Si hay dos cartas para repartir tiene que entregar la más grande.
      Si son más de dos la regla es clara, puede repartir entre una o más personas, pero
      a cada una tiene que darle más de lo que se queda para sí misma.

    p.q#q-impar Y jugando de a dos ¿qué sentido tiene la #[span.l Q]?

    p.a.
      #[i ¡Ah, no!]. Tan competitivo no se puede ser. Repartí que mal no te va a hacer.

    p.q#q-impar ¿Y si al final hay un empate? ¿cómo se desempata?

    p.a.
      No se desempata. Nos contentamos con saber que hay varias ganadoras.

    p.q#q-solo ¿Es un juego solo para mujeres?

    p.a.
      No, ninguno lo es ni lo debería ser.

    h1#end ⧟